*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(128, 128, 128, 0.123);
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center; 
}
.header{
    background-color: white;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: inherit;
    padding: 20px;
}
.header nav{
    display: flex;
    gap: 30px;
}
.option1{
    text-decoration: none;
    font-size: 20px;
    color: rgb(91, 91, 91);
    cursor: pointer;
    position: relative;
}
.option2{
    text-decoration: none;
    font-size: 20px;
    color: rgb(91, 91, 91);
    cursor: pointer;
    position: relative;
}
.option1:hover{
    color: rgba(255, 0, 0, 0.568);
    font-weight: bold;
}
.option2:hover{
    color: rgba(255, 0, 0, 0.568);
    font-weight: bold;
}
.option1::before{
    position: absolute;
    content: "";
    background-color: rgba(255, 0, 0, 0.772);
    width: 40px;
    height: 10px;
    top: -27px;
}
.option2::before{
    position: absolute;
    content: "";
    background-color: rgba(255, 0, 0, 0.774);
    width: 80px;
    height: 10px;
    top: -27px;
}
header{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.logo{
    width:120px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.search input{
    width: 200px;
    height: 30px;
    border: 2px solid rgba(255, 0, 0, 0.674);
    position: relative;
    outline: 0.01px solid rgba(255, 0, 0, 0.674);
    padding-left: 5px;
}
.search::after{
    content: "";
    background-image: url(search.png);
    background-size: contain;
    position: absolute;
    width: 70px;
    height:31px;
    top: 24.75px;
}
.back{
    width: 80px;
    height: 30px;
    background-color:rgba(45, 203, 180, 0.683);
    color: white;
    border-radius: 2px;
    border: 0;
    margin-left: 30px;
}
.content{
    display: flex;
    background-color: white;
    height: 100%;
    width: 800px;
    position: absolute;
    top: 85px;
    z-index: 0;
}
.banner{
    width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 1600px;
    height: 100%;
    display: flex;
    animation: run 10s ease infinite;
    animation-play-state: running;
    flex-direction: row;
    position: relative;
}
.slides:hover{
    animation-play-state: paused;
}
.slides img:target { 
    display: block; 
}
.dots{ 
    text-align: center;
    top: 250px;
    left: 380px;
    position: absolute;
}
.dot1 {
    display: inline-block;
    width: 10px; height: 10px;
    background: white; /* 默认灰色 */
    margin: 0 5px;
    text-decoration: none; /* 清除a标签下划线 */
    border-radius: 50%;
    animation: big1 5s ease infinite;
    box-shadow: 0;
}
.dot2 {
    display: inline-block;
    width: 10px; height: 10px;
    background: white; /* 默认灰色 */
    margin: 0 5px;
    text-decoration: none; /* 清除a标签下划线 */
    border-radius: 50%;
    animation: big2 5s ease infinite;
    box-shadow: 0;
}
@keyframes run{
    0%,50%{transform: translateX(0);}
    50%,100%{transform: translateX(-890px);}
}
@keyframes big1{
    0%,50%{box-shadow: 2px solid gray;}
}
@keyframes big2{
    50%,100%{box-shadow: 2px solid gray;}
}
.introduction{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 320px;
    width: 800px;
    height: 450px;
}
.decoration1{
    width: 700px;
    height: 140px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
div{
    border: 3px solid  rgba(86, 205, 179, 0.904);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color:  rgba(86, 205, 179, 0.904);
    font-size: 40px;
    display: grid;
    place-content: center;
}
}
.select1{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    padding-right: 35px;
    padding-left: 35px;
.box1{
    border-right: 0.5px solid rgba(0, 0, 0, 0.4); 
}
div{
    width: 182px;
    height: 200px;
    display: grid;
    place-content: center;
li:hover{
    color: rgb(231, 3, 3);
    cursor: pointer;
}
p{
    color: gray;
    font-size: 14px;
}
}
}
.spot{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 340px;
    padding-left: 100px;
    padding-right:100px;
    gap: 135px;
img{
    width: 50px;
}
}
.news{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 760px;
    background-color: white;
}
.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
h3{
    color: rgba(0, 0, 0, 0.646);
}
p{
    color: rgba(86, 205, 179, 0.904);
    font-weight:700;
    font-size: 15px;
}
}
.menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 700px;
    margin-top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.box2{
    border: 2px solid  rgba(86, 205, 179, 0.904);
    margin: -1px;
    display: grid;
    place-content: center;
p{
    text-align: center;
    color: gray;
    font-size: 15px;
    cursor: pointer;
}
}
.box2:hover{
    background-color: rgba(86, 205, 179, 0.904) ;
p{
    color: white;
} 
}
.box3{
    display: grid;
    place-content: center;
    text-align: center;
    text-decoration:underline red 3px;
    text-underline-offset:5px ;
    color: red;
    font-size: 50px;
    font-weight: 300;
}
.recommendation{
    width: 800px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 1170px;
    margin-bottom: 100px;
}
.container{
    width: 800px;
    height: 180px;
    padding-top:30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
div{
    width: 150px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.514);
    display: grid;
    place-content: center;
p{
    color: white;
    text-align: center;
}
}
div:hover{
    background-color: rgba(247, 14, 14, 0.758);
}
}
.cat{
    position: relative;
}
.cat::before{
    position: absolute;
    content: "";
    background-image: url(cat.png);
    width: 180px;
    height: 48px;
    background-size: cover;
    top: -48px ;
    left: -30px;
}
footer{
    width:1200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.783);
    position: absolute;
    top: 1700px;
}
.copyright{
    width: 400px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top:50px;
    left:32%;
div{
    padding-left: 15px;
    padding-right: 15px;
    color: gray;
    font-size: 15px;
}
.english{
    letter-spacing: 2px;
    border-right:2px solid red ;
}
}
.copyright::before{
    content: "";
    background-image: url(cat2.png);
    width: 300px;
    height: 40px;
    background-position: center center; /* 水平和垂直方向都居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-size: cover;
    position: absolute;
    top:-43px

}

