*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(128, 128, 128, 0.123);
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center; 
}
.header{
    background-color: white;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: inherit;
    padding-left: 20px;
    padding-right: 20px;
}
.header nav{
    display: flex;
    gap: 30px;
    height: 100%;
}
.option1{
    text-decoration: none;
    font-size: 20px;
    color: rgb(91, 91, 91);
    cursor: pointer;
    position: relative;
    width: 40px;
    padding-top: 25px;
    
}
.option2{
    text-decoration: none;
    font-size: 20px;
    color: rgb(91, 91, 91);
    cursor: pointer;
    position: relative;
    width: 80px;
    padding-top: 25px;
}
.option1:hover{
    color: rgba(255, 0, 0, 0.568);
    font-weight: bold;
    border-top: 5px solid  rgba(255, 0, 0, 0.568);
}
.option2:hover{
    color: rgba(255, 0, 0, 0.568);
    font-weight: bold;
    border-top: 5px solid  rgba(255, 0, 0, 0.568);
}
header{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.logo{
    width:120px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.search input{
    width: 200px;
    height: 30px;
    border: 2px solid rgba(255, 0, 0, 0.674);
    position: relative;
    outline: 0.01px solid rgba(255, 0, 0, 0.674);
    padding-left: 5px;
}
.search::after{
    content: "";
    background-image: url(search.png);
    background-size: contain;
    position: absolute;
    width: 70px;
    height:31px;
    top: 24.75px;
    cursor: pointer;
}
.back{
    width: 80px;
    height: 30px;
    background-color:rgba(45, 203, 180, 0.683);
    color: white;
    border-radius: 2px;
    border: 0;
    margin-left: 30px;
}
.content{
    display: flex;
    background-color: white;
    height: 100%;
    width: 800px;
    position: absolute;
    top: 85px;
    z-index: 0;
}
.slider{
    width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 4000px;
    height: 100%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width:800px;
    height: 300px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid gray;
    padding: 5px;
    border-radius:50%;
    cursor: pointer;
    transition: 1s;
    z-index: 1;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: gray;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    height: 14px;
    justify-content: center;
    margin-top: 260px;
}
.navigation-auto div{
    border:2px solid gray;
    padding: 5px;
    border-radius:50%;
    transition: 1s;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.632);
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto div.auto-btn1{
    background-color: gray;
}
#radio2:checked ~.navigation-auto div.auto-btn2{
    background-color: gray;
}
.introduction{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 320px;
    width: 800px;
    height: 458px;
}
.decoration1{
    width: 700px;
    height: 140px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
div{
    border: 3px solid  rgba(86, 205, 179, 0.904);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color:  rgba(86, 205, 179, 0.904);
    font-size: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
div:hover{
    background-color: rgba(86, 205, 179, 0.904) ;
    color: white;
}
}
.select1{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    padding-right: 35px;
    padding-left: 35px;
.box1{
    border-right: 0.5px solid rgba(0, 0, 0, 0.4); 
}
div{
    width: 182px;
    height: 200px;
    display: grid;
    place-content: center;
li:hover{
    color: rgb(231, 3, 3);
    cursor: pointer;
}
p{
    color: gray;
    font-size: 14px;
}
}
}
.spot{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 340px;
    padding-left: 100px;
    padding-right:100px;
    gap: 135px;
img{
    width: 50px;
}
}
.news{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 760px;
    background-color: white;
}
.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
h3{
    color: rgba(0, 0, 0, 0.646);
}
p{
    color: rgba(86, 205, 179, 0.904);
    font-weight:700;
    font-size: 15px;
}
}
.menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 700px;
    margin-top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.box2{
    border: 2px solid  rgba(86, 205, 179, 0.904);
    margin: -1px;
    display: grid;
    place-content: center;
p{
    text-align: center;
    color: gray;
    font-size: 15px;
    cursor: pointer;
}
}
.box2:hover{
    background-color: rgba(86, 205, 179, 0.904) ;
p{
    color: white;
} 
}
.box3{
    display: grid;
    place-content: center;
    text-align: center;
    text-decoration:underline red 3px;
    text-underline-offset:5px ;
    color: red;
    font-size: 50px;
    font-weight: 300;
}
.recommendation{
    width: 800px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 1170px;
}
.container{
    width: 800px;
    height: 180px;
    padding-top:30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
div{
    width: 150px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.514);
    display: grid;
    place-content: center;
    cursor: pointer;
p{
    color: white;
    text-align: center;
}
}
div:hover{
    background-color: rgba(247, 14, 14, 0.758);
}
div::before{
    position: absolute;
    content: "";
    background-image: url(cat.png);
    width: 142.5px;
    height: 50px;
    background-size: cover;
    top: 100px;
    z-index:-1;
    overflow: hidden;
    transform-origin: bottom;
    background-position: center center; /* 水平和垂直方向都居中 */
    background-repeat: no-repeat; 
    transition: all 0.4s ease-in-out;
    transform: scaleY(0);
}
div:hover::before{
    transform: scaleY(1);
    z-index: 1000;
}
}
footer{
    width:1200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.783);
    position: absolute;
    top: 1620px;
}
.copyright{
    width: 400px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top:50px;
    left:32%;
div{
    padding-left: 15px;
    padding-right: 15px;
    color: gray;
    font-size: 15px;
}
.english{
    letter-spacing: 2px;
    border-right:2px solid red;
}
}
.copyright::before{
    content: "";
    background-image: url(cat2.png);
    width: 300px;
    height: 40px;
    background-position: center center; /* 水平和垂直方向都居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-size: cover;
    position: absolute;
    top:-43px
}
